body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f8f5;
    color: #2d2d2d;
    text-align: center;
}
h1, h2 {
    color: #04724D; /* Green Islamic Color */
}
input {
    padding: 10px;
    margin: 5px;
    width: 80%;
    max-width: 300px;
}

body.dark-mode {
    background-color: #121212;
    color: white;
}
.dark-mode button {
    background-color: #333;
    color: white;
}
